:root {
    --bg-color: rgb(75, 75, 75);
    --darkMode: rgb(37, 37, 37);
    
    --scroll-color: rgb(46, 46, 46);

    --header-bg: rgb(58, 58, 58);
    --header-side-bg: rgb(58, 58, 58);
    --header-side-right: rgb(43, 43, 43);
    --header-hover-bg: rgb(75, 75, 75);
    --header-hover-color: rgb(44, 44, 44);

    --hr-color: white;

    --scrollToTop-bg: gray;

    --footer-color: white;
    --footer-bg: rgb(58, 58, 58);

    --btn-bg: rgb(94, 94, 94);
    --btn-bg-hover: rgb(97, 97, 97);

    --mobile-bg-color: rgb(75, 75, 75);
    --mobile-darkMode: rgb(37, 37, 37);
}