.header {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: rgb(42, 113, 245);
    padding: 20px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    z-index: 10;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    margin-right: 25px;
    transition: 0.5s;
    transition: 0.5s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: cornflowerblue;
    color: rgb(70, 70, 70);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header {
        position: relative;
    }

    .header a {
        display: block;
        float: none;
        text-align: center;
        padding: 10 5px;
        font-weight: normal;
    }

    .header-right {
        float: none;
    }
}

.hidden {
    display: none;
}

.sidenav-back {
    background-color: rgba(150, 150, 150, 0.2);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

.sidenav-back:hover {
    background-color: transparent;
    cursor: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(35, 85, 180);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: solid rgb(18, 55, 124) 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    z-index: 11;
    word-break: keep-all;
    letter-spacing: -1px;
}

.sidenav a {
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);*/
    transition: 0.7s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    opacity: 1;
    word-break: keep-all;

}

.sidenav a:hover {
    transition: 1s;
    rotate: 3deg;
    text-decoration: underline;
}

.sidenav hr {
    width: 80%;
    padding: 2px;
    color: gray;
    background-color: gray;
    border: none;
}

.sidenav a.sec {
    letter-spacing: 20px;
    color: rgb(200, 200, 200);
    padding-top: 0px;
    padding-bottom: 0;
}

.sidenav a.sec:hover {
    transition: 1s;
    rotate: 0deg;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    aspect-ratio: 0.5;
    box-shadow: none;
    background-color: transparent;
    border-radius: 100%;
    animation-name: spin-l;
    animation-duration: 500ms;
}

.closebtn:after{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
  }

.closebtn:hover {
    cursor: pointer;
    animation-name: spin-r;
    animation-duration: 500ms;
}

@keyframes spin-r {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}
@keyframes spin-l {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}