body {
    background-color: #36393F;
    user-select: none;
}

#cookie-display {
    width: 256px;
    height: 256px;
    position: absolute;
    left: -128px;
    top: -128px;
    background: url(https://orteil.dashnet.org/cookieclicker/img/perfectCookie.png);
    background-size: 256px 256px;
    cursor: pointer;
    border-radius: 128px;
    border: none;
    /* overflow: hidden; */
    outline: none;
    font-size: 300%;
    color: white;
    font-family: cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

#cookie-display:hover {
    zoom: 1.1;
}

#cookie-display:active {
    zoom: 1.15;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    margin: 15px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 20;
    border-radius: 0px;
    border: none;
    background-color: #1a1b1f;
    color: white;
}

.btn:hover {
    background-color: gray;
}

.btn-delete:active {
    background-color: rgb(250, 44, 44);
}

.btn-save:active {
    background-color: rgb(54, 170, 0);
}

.btn-load:active {
    background-color: rgb(0, 110, 255)
}

@media (max-width: 800px) {
    body {
        /* background-color: red; */
    }

    #cookie-display {
        margin-top: 50px;
        zoom: 0.7;
    }

    #cookie-display:hover {
        zoom: 0.75;
    }

    .btn {
        padding: 5px;
        margin: 5px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -5px;
    }
}

@media (max-width: 500px) {
    body {
        /* background-color: blue; */
    }

    #cookie-display {
        margin-top: 70px;
        zoom: 0.5;
    }

    #cookie-display:hover {
        zoom: 0.55;
    }

    .btn {
        padding: 5px;
        margin: 5px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -5px;
    }
}

#upgrade {
    right: 0;
    margin-right: 0px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    background-color: gray;
    flex-direction: row;
    border-radius: 10px;
}

#upgrade-clicks {
    padding: 10px 20px;
    background-color: gray;
    border: none;

    color: white;
    font-weight: bold;
}

#upgrade-clicks:hover {
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

#auto-upgrade-clicks {
    position: relative;
    background: rgb(190, 190, 190);
    width: 40px;
    height: 20px;
    -webkit-appearance: initial;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 14px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ddd;
}

#auto-upgrade-clicks:after {
    position: absolute;
    top: 5%;
    display: block;
    line-height: 32px;
    width: 45%;
    height: 90%;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    color: black;
    border: #888 1px solid;
    border-radius: 3px;
    content: "";
}

#auto-upgrade-clicks:after {
    left: 2%;
    background-color: rgb(255, 44, 44);
}

#auto-upgrade-clicks:checked:after {
    left: 53%;
    background-color: lime;
}

#per-click {
    position: absolute;
    margin-top: 70px;
    color: white;
    font-size: xx-large;
    text-align: center;
}

#upgrade {
    position: absolute;
    margin-top: 180px;
}

#version {
    bottom: 0;
    right: 0;
    position: absolute;
    color: white;
    font-weight: bold;
}