@media (max-width: 1080px) {
    .btn {
        text-align: center;
        font-weight: bold;
        box-sizing: border-box;
        min-width: 30%;
        width: 30%;
        max-width: 30%;
        font-size: 75%;
        border-radius: 7px;
        zoom: 2.5;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 2% 15% 2% 15%;
    }
}

@media (max-width: 540px) {
    .btn {
        text-align: center;
        font-weight: bold;
        box-sizing: border-box;
        border-radius: 5px;
        min-width: 30%;
        width: 30%;
        max-width: 30%;
        font-size: 100%;
        zoom: 1;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 2% 15% 2% 15%;
    }
}

@media (max-width: 300px) {
    .btn {
        text-align: start;
        font-weight: bold;
        box-sizing: border-box;
        border-radius: 5px;
        min-width: 30%;
        width: 30%;
        max-width: 30%;
        font-size: 5%;
        zoom: 1;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 2% 15% 2% 15%;
    }
}

@media (max-width: 200px) {
    .btn {
        text-align: start;
        font-weight: bold;
        box-sizing: border-box;
        border-radius: 5px;
        min-width: 30%;
        width: 30%;
        max-width: 30%;
        font-size: 10%;
        zoom: 1;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 2% 15% 2% 15%;
    }
}

.btn {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    min-width: 30%;
    width: 50%;
    max-width: 75%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--btn-bg);
    color: white;
    transition: 0.6s;
    opacity: 0.5;
}

.btn:hover {
    width: 52%;
    background-color: var(--btn-bg-hover);
    opacity: 1;
}